{% extends "site_base.html"  %}
{% load staticfiles %}

{% block body %}

{% if login_message %}
  <h1>{{ login_message }}<h1>
  <img src="{% static 'pkmn/egg.gif' %}">

{% else %}
  <div class="row">

    <div class="col-lg-4 col-md-6 col-xs-12 col">
      <div class="panel">

        <div class="panel-body panel-egg-tabs">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <img src="{{ STATIC_URL }}pkmn/{{ egg.identity }}.gif" class="img-responsive pkmn-icon">
            </div>

            {% if other_eggs or egg.identity != 'egg' %}
            <div class="tab-pane" id="incubator">
                <span class="panel-egg-deposit">
                </span>
                {% for egg in other_eggs %}
                  <img src="{{ STATIC_URL }}pkmn/{{ egg.identity }}.gif">
                {% endfor %}
            </div>
            {% endif %}

            <div class="tab-pane" id="switch"></div>

          </div>
        </div>
      </div>

      <ul class="nav nav-highlights">
        {% if other_eggs or egg.identity != 'egg' %}
        <li class="active"><a href="#home" aria-controls="home">Home</a></li>
        <li><a href="#incubator" aria-controls="incubator">Incubator</a></li>
        {% endif %}
        {# <li><a href="#switch" aria-controls="switch">Switch</a></li>#}
        {% if request.user.is_staff %}
          <li><a href="#admin" aria-controls="admin">Admin</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12 col">
      <div class="messages">
        <div class="tab-content">
          <div class="tab-pane active" id="home-msg">
            <h2>this is {{ egg.possessive }} {{ egg.identity }}.
              {% if egg.subtitle %}
                <small>{{ egg.subtitle }}</small>
              {% endif%}
            </h2>

            <p>
              {% if egg.nickname %}
                You have named this {{ egg.identity }} <em>{{ egg.nickname }}</em>.
              {% endif %}
            </p>

            <p>{{ egg.message|capfirst }}</p>

            {% if authorized %}
              {% if egg.new_steps < 0 %}
                <p><a class="btn btn-default" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Your {{ egg.identity }} needs a nudge.</a></p>
              {% endif %}

              {% if egg.identity != 'egg' %}
                {# <p><a id="new_egg" class="btn btn-default" url="{% url 'api' param='newegg' %}">It's time.</a></p>#}
              {% endif %}
            {% endif %}

          </div>

          <div class="tab-pane" id="incubator-msg">
            <h2>this is {{ egg.possessive }} incubator.</h2>
              {% if not other_eggs %}
                <p>{{ egg.possessive|capfirst }} incubator is empty. And cold.
              {% else %}
                <p>It is a storage.</p>
              {% endif %}
          </div>

          {% if request.user.is_staff %}
          <div class="tab-pane" id="admin-msg">
            <div class="admin">
              {% if social %}
                <p>{{ egg.new_steps }} new step{{ egg.new_steps|pluralize }} fetched.</p>
              {% endif %}
              <p>Last updated: {{ last_updated }}</p>
              <p>{{ egg.steps_received }} of {{ egg.steps_needed }} steps until {{ egg.next_identity }}</p>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>

  </div>

{% endif %}

{% endblock %}
