{% extends "site_base.html"  %}

{% block body %}

{% if login_message %}
  <p>{{ login_message }}</p>
{% else %}
  <div class="row">
    <div class="col-md-3 col-xs-12 col pkmn-icon">
      <img src="{{ STATIC_URL }}pkmn/{{ egg.identity }}.gif" class="img-responsive">
    </div>

    <div class="col-md-4 col-xs-12 col">
      <h2>this is your {{ egg.identity }}.
        {% if egg.identity == 'egg' %}
          <small> love your egg. sing to your egg. walk your egg.</small>
        {% endif%}
      </h2><br>
        <p>{{ egg.message }}</p>

      {% if social %}
        {% if new_steps > 0 %}
          <p>It wiggles happily.</p>
        {% endif %}
      {% endif %}

      {% if new_steps < 0 %}
        <p><a class="btn btn-default" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Your {{ egg.identity }} needs a nudge. </a></p>
      {% endif %}

      {% if egg.identity == 'egg' %}
        <
      {% endif %}

      {% if request.user.is_staff %}
        <div class="admin">
          <p>{{ new_steps }} new steps fetched.</p>
          {{ egg.steps_received }} of {{ egg.steps_needed }} steps until {{ egg.next_identity }}
        </div>
      {% endif %}
    </div>

    <div class="col-md-5 col-xs-12 col">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Incubator</h3>
        </div>
        <div class="panel-body">
          {% if not other_eggs %}
            <p>Your incubator is empty. And cold.
          {% endif %}

          {% for egg in other_eggs %}
            <img src="{{ STATIC_URL }}pkmn/{{ egg.identity }}.gif" class="img-responsive">
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

{% endif %}

{% endblock %}
