{% extends "theme_bootstrap/base.html" %}
{% load staticfiles %}

{% block head_title_base %}
  Hatch
{% endblock %}

{% block extra_style %}
  <link href="{% static "main.css" %}" rel="stylesheet">
{% endblock %}

{% block topbar_base %}
{% endblock %}

{% block footer_base %}
{% endblock %}

{% block extra_script %}
  <script src="{% static "main.js" %}"></script>
{% endblock %}

{% block extra_body %}
<footer>
    <div class="navbar navbar-egg">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{% url "home" %}">Hatch</a></li>
                <li><a href="https://github.com/daiyiwhale/hatch">github</a></li>
                {% block account_nav %}{% include "_account_nav.html" %}{% endblock %}
            </ul
        </div>
    </div>
</footer>

{% endblock %}
