{% extends "theme_bootstrap/base.html" %}
{% load staticfiles %}

{% block head_title_base %}
  Hatch
{% endblock %}

{% block extra_style %}
  <link href="{% static "main.css" %}" rel="stylesheet">
{% endblock %}

{% block topbar_base %}
{% endblock %}

{% block footer_base %}
{% endblock %}

{% block extra_script %}
  <script src="{% static "main.js" %}"></script>
{% endblock %}

{% block extra_body %}
<footer>
    <div class="navbar navbar-egg navbar-fixed-bottom">
        <div class="container">
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand hidden-xs" href="{% url "home" %}">Hatch</a>
                    {# <li><a href="#">link</a></li> #}
                </ul>
                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
            </div>
          	<div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand visible-xs" href="{% url "home" %}">Hatch</a>
            </div>

        </div>
    </div>
</footer>

{% endblock %}
